* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: calc(28 / 16);
  color: var(--main-txt-cl);
}


ul {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px;
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  width: 114px;
  height: 42px;
  background: var(--btn-bg-color);
  border-radius: var(--main-br-rd);
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--accent-txt-cl);
  &:hover{
    background-color: var( --btn-bg-hv-color);
  }
  &:focus{
   color:#fff;
  }
}
.btn-buy{
  @extend .btn;
  width: 152px;
  color: var(--btn-txt-dark-color);
  line-height: calc(17 / 14);
}
.btn-read{
  @extend .btn-buy;
  width: 164px;
  line-height: calc(18 / 14);
  font-size: 14px;
}