:root {
  /* Fonts */
  --main-font: "Montserrat", sans-serif;
  --secondary-font:"Seymour One", sans-serif;
  --third-font:"Inter", sans-serif;
  /* Tetx colors */
  --main-txt-cl: #FCFCFC;
  --accent-txt-cl:#131313;
  --bright-txt-cl: #F8D24E;
  --address-txt-color: #D6936D;
  --light-txt-color: #ABABAB;
  /* Bg colors */
  --accent-bg-cl: #84A178;
  /* Btns */
  --btn-bg-color:#F8D24E;
  --btn-txt-dark-color:#000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.75;
  color: var(--main-txt-cl);
}

ul {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn, .btn-buy, .btn-read {
  width: 114px;
  height: 42px;
  background: var(--btn-bg-color);
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent-txt-cl);
}

.btn-buy, .btn-read {
  width: 152px;
  color: var(--btn-txt-dark-color);
  line-height: 1.2142857143;
}

.btn-read {
  width: 164px;
  line-height: 1.2857142857;
}

.gallery-wrap {
  background-image: url("/src/images/gallery/bg_480.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .gallery-wrap {
    background-image: url("/src/images/gallery/bg_768.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .gallery-wrap {
    background-image: url("/src/images/gallery/bg_1200.jpg");
  }
}

.gallery__img {
  min-width: 280px;
  min-height: 130px;
  margin: 0 auto;
  margin-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .gallery__img {
    min-width: 704px;
    min-height: 180px;
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__img {
    min-width: 1013px;
    min-height: 422px;
    margin-bottom: 140px;
  }
}

.customer_reviews__img {
  min-width: 85px;
  height: 85px;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 32px;
}

.customer_reviews__reviews {
  margin: 0 auto;
  min-width: 280px;
  background-color: var(--accent-bg-cl);
  border-radius: 10px;
  margin-bottom: 32px;
}

.review {
  font-size: 12px;
  line-height: 2.5833333333;
  text-align: center;
  padding: 35px 39px;
}
@media screen and (min-width: 768px) {
  .review {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8571428571;
    letter-spacing: 0.04em;
    padding: 28px 80px;
  }
}
@media screen and (min-width: 1200px) {
  .review {
    padding: 42px 74px;
    font-size: 16px;
    line-height: 1.875;
  }
}

.customer_reviews__customer {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.85;
  text-align: center;
  color: var(--accent-txt-cl);
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .customer_reviews__customer {
    font-size: 16px;
    line-height: 1.875;
    margin-bottom: 32px;
  }
}

.customer_reviews__list {
  display: flex;
  justify-content: center;
  gap: 18px;
  padding-bottom: 393px;
}

.customer_reviews__item {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #D9D9D9;
}
.customer_reviews__item:hover {
  background-color: var(--accent-bg-cl);
}/*# sourceMappingURL=index.css.map */