<section class="section contacts" id="contacts">
  <div class="container contacts__container">
    <h2 class="contacts__title visually-hidden">Contacts</h2>
    <ul class="contacts__wrap">
      <li class="contacts__item">
        <p class="contacts__heading">Cafe</p>
        <address class="contacts__adress">
          <p class="contact__city">Chicago</p>
          <p class="contact__location">
            10340 Ridgeland Ave,<br />
            Chicago Ridge, IL 60415, USA
          </p>
        </address>
        <ul class="schedule">
          <li class="schedule-item">
            <p class="schedule__day">Monday - Friday</p>
            <p class="schedule__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="schedule__item">
            <p class="schedule__day">Saturday - Sunday</p>
            <p class="schedule__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__feedback">
          <li>
            <a class="contacts__email" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="contacts__tel" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__heading">Foodtrack</p>
        <address class="contacts__adress">
          <p class="contact__city">Los Angeles</p>
          <p class="contact__location">
            1003 Manhattan Ave, Manhattan<br />
            Beach, CA 90263, USA
          </p>
        </address>
        <ul class="schedule">
          <li class="schedule-item">
            <p class="schedule__day">Monday - Friday</p>
            <p class="schedule__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="schedule__item">
            <p class="schedule__day">Saturday - Sunday</p>
            <p class="schedule__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__feedback">
          <li>
            <a class="contacts__email" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="contacts__tel" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__heading">cafe</p>
        <address class="contacts__adress">
          <p class="contact__city">New York</p>
          <p class="contact__location">
            726 Sterling Pl, Brooklyn, NY<br />
            11222, USA
          </p>
        </address>
        <ul class="schedule">
          <li class="schedule-item">
            <p class="schedule__day">Monday - Friday</p>
            <p class="schedule__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="schedule__item">
            <p class="schedule__day">Saturday - Sunday</p>
            <p class="schedule__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__feedback">
          <li>
            <a class="contacts__email" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="contacts__tel" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__btn-list">
      <li>
        <button type="button" class="contacts__btn-loc btn">
          Our Locations<svg
            class="contacts__btn-icon"
            width="5px"
            height="10px"
          >
            <use href="/src/images/icon.svg/symbol-defs.svg#icon-Vector"></use>
          </svg>
        </button>
      </li>
      <li>
        <button type="button" class="contacts__btn-franchise">
          Franchise<svg class="contacts__btn-icon" width="5px" height="10px">
            <use href="/src/images/icon.svg/symbol-defs.svg#icon-Vector"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
