<div class="gallery-wrap">
  <section class="section gallery">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="container">
        <img class="gallery__img" src="./images/gallery/ice_creams_768.jpg" alt="ice_creams" />
    </div>
  </section>
  <section class="section customer_reviews">
    <h2 class="visually-hidden">Customer_reviews</h2>
    <div class="container">
        <img class="customer_reviews__img" src="./images/customer_reviews/woman.jpg" alt="woman" />
    <div class="customer_reviews__reviews">
      <p class="review">I love visiting your cafe.
        You prepare the most delicious ice cream in Los Angeles! 
       In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
    </div>
    <p class="customer_reviews__customer">Emily, Los Angeles</p>
    <ul class="customer_reviews__list">
      <li class="customer_reviews__item"><a href="#" class="customer_reviews__link"></a></li>
      <li class="customer_reviews__item"><a href="#" class="customer_reviews__link"></a></li>
      <li class="customer_reviews__item"><a href="#" class="customer_reviews__link"></a></li>
    </ul>
  </div>
  </section>
</div>
  