<header class="page-header">
    <div class="container header">
        <svg class="icon icon-menu" width="24" height="16">
            <use href="./images/symbol-defs.svg#icon-menu_24px"></use>
        </svg>
        <nav class="site-nav">
            <div class="site-nav__wrap">
                <ul class="site-nav__list">
                    <li class="site-nav__item">
                        <a class="site-nav__link " href="">Home</a>
                    </li>
                    <li class="site-nav__item">
                        <a class="site-nav__link site-nav__link-current" href="">How it’s made?</a>
                    </li>
                    <li class="site-nav__item">
                        <a class="site-nav__link" href="">Our products</a>
                    </li>
                    <li class="site-nav__item">
                        <a class="site-nav__link" href="">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
               <button class="menu-toggle js-open-menu" type="button" aria-expanded="false" aria-controls="mobile-menu">
            <svg class="icon icon-menu" width="24" height="16">
                <use href="./images/symbol-defs.svg#icon-menu_24px"></use>
            </svg>
        </button>
        <div class="menu-container js-menu-container" id="mobile-menu">
            <button class="menu-toggle js-close-menu">
                <svg class="icon icon-close" width="19" height="19">
                    <use href="./images/symbol-defs.svg#icon-close"></use>
                </svg>
            </button>
            <ul class="mobile-menu">
            <li class="site-nav__item">
                <a class="site-nav__link " href="">Home</a>
            </li>
            <li class="site-nav__item">
                <a class="site-nav__link site-nav__link-current" href="">How it’s made?</a>
            </li>
            <li class="site-nav__item">
                <a class="site-nav__link" href="">Our products</a>
            </li>
            <li class="site-nav__item">
                <a class="site-nav__link" href="">Contact</a>
            </li>
                <li><a href="#" class="mobile-link">Контакти</a></li>
            </ul>
           
        </div>
    </div>
</header>