<header class="header">
  <div class="header__container container">
    <a class="header__logo" href="./index.html"><img src="/src/images/hero/logo_480.png" width="40" height="37"
        alt="logo"></a>
    <div class="header__wrap">
      <div class="header__burger-menu">
        <svg class="header__icon" width="32" height="32">
          <use href="/src/images/icon.svg/symbol-defs.svg#icon-eva_menu-fill"></use>
        </svg>
      </div>
      <button class="btn-buy header__btn" type="button">Buy now</button>
    </div>
  </div>
</header>

