<header class="header">
  <div class="header__container container">
    <a class="header__logo" href="./index.html">
      <picture>
        <source srcset="/src/images/hero/logo_1200.png 1x, /src/images/hero/logo_1200_2x.png 2x" media="(min-width: 1200px)" />
        <source srcset="/src/images/hero/logo_768.png 1x, /src/images/hero/logo_768_2x.png 2x" media="(min-width: 768px)" />
        <source srcset="/src/images/hero/logo_480.png 1x, /src/images/hero/logo_480_2x.png 2x" media="(max-width: 767px)" />
        <img src="/src/images/hero/logo_480.png" width="40" height="37" alt="logo">
      </picture>
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="#" class="nav__link">How it’s made?</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Our products</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
      </ul>
    </nav>
    <div class="header__wrap">
      <div class="header__burger-menu">
        <svg class="header__icon" width="32" height="32">
          <use href="/src/images/icon.svg/symbol-defs.svg#icon-eva_menu-fill"></use>
        </svg>
      </div>
      <button class="btn-buy header__btn" type="button">Buy now</button>
    </div>
  </div>
</header>

