<div class="location-modal location-modal-backdrop is-hidden" data-loc>
  <div class="location-modal__wrap">
    <button type="button" class="location-modal__btn-close" data-loc>
      <svg class="location-modal__icon" width="11" height="11">
        <use href="./images/icon.svg/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <p class="location-modal__title">Our Locations</p>
    <picture class="location-modal__map">
        <source media="(min-width: 768px)" srcset="./images/contacts/modal-map_descktop-wp@1x.jpg 1x, ./images/contacts/modal-map_descktop-wp@2x.jpg 2x"  type="image/webp">
      <source media="(min-width: 768px)" srcset="./images/contacts/modal-map_descktop@1x.jpg 1x, ./images/contacts/modal-map_descktop@2x.jpg 2x" />
      <source media="(min-width: 768px)" srcset="./images/contacts/modal-map_mobile-wp@1x.jpg 1x, ./images/contacts/modal-map_mobile-wp@2x.jpg 2x"  type="image/webp">
      <source media="(max-width: 767px)" srcset="./images/contacts/modal-map_mobile@1x.jpg 1x, ./images/contacts/modal-map_mobile@2x.jpg 2x"
    />
<img src="./images/contacts/modal-map_mobile@1x.jpg" alt="map with location of Poltava" 
min-width="224" min-height="199"></picture>
<button type="button" class="modal-map_btn btn">Open map</button>
  </div>
</div>
